{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'bgremoverapp/home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Remover App - Home</title>
</head>

<body>

    <div className="main-header">
        <h2>BG-REMOVE</h2>
        <button className="main-cta"><a>Login</a></button>
    </div>

    <div className="main-text">
        <h2>Free Background Remover</h2>
        <p>Free simple background remover.
            Try it Today</p>
    </div>

    <div className='drag-drop-container'>
        <div className='drag-drop-box'>
            <div className="dotted-border">
                <FileUpload />
            </div>

        </div>
    </div>

    <div class="feedback-form">
        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="feedback">Feedback:</label><br>
            <textarea id="feedback" name="feedback" required></textarea><br>
            <label for="file">File:</label><br>
    <input type="file" id="file" name="file" required><br>
            <input type="submit" value="Submit">
          </form>
          
    </div>

</body>

</html>